/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  /*padding-bottom: 20px; */
}
.navbar-inverse .navbar-brand {
    color: #000;
    font-weight: bold ;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000;
    font-weight: bold ;
 }

.jumbotron {
	text-align: center;
	background-image: url("../images/mumbai2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	/*css hack for ie*/  
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mumbai2.jpg',sizingMethod='scale')";
	color: black;
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
	font-size: 40px;
}

ul.nav{
	font-size: 13px;
}

.btn-lg {

	font-size: 30px;
}

#get-involved {

	background-color: #f5f5f5;
	padding-top:100px;
	padding-bottom: 50px;
}

#who{

	padding-top:50px;
	padding-bottom: 50px;
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {

	margin-bottom: 30px;
	font-weight: 100 ;
	padding: 0px, 50px ;
}

.homepage {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}


.homepage h2, .homepage h3 {
	color: #e74c3c;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
}
.homepage h2 {

	font-size: 30px;
}

.homepage h3 {

	font-size: 26px;
}

.homepage p {
	font-size: 21px;
	font-weight: 300px;
}

.homepage a {
	color: #e74c3c;
}

.homepage a:hover {
	text-decoration: none;
	color: #e74c3c;
	opacity: 0.8;
}

.homepage hr {
	border-top: 1px solid#e74c3c;
	width: 160px;
	margin-top: 15px ;

}

.footer {

	text-align: center;
}

.foot_image {
	text-align: center;
	background-image: url("../images/footer_image.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:100px;
    line-height: 100px;
    font-weight: 30px;
    font-size: 15px;
	/*css hack for ie*/  
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mumbai2.jpg',sizingMethod='scale')";
	color: white;
}

/* Responsive styling for devices */
/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) { 

.jumbotron h1 {

    margin-top: 0px;
	margin-bottom: 30px;
	font-size: 30px;
}

.jumbotron p {

 	font-size: 18px;
}

.btn-lg {

	font-size: 20px;
}
.homepage h2 {

    font-size: 20px;
}
.homepage h3 {

    font-size: 18px;
}

.foot_image {
	text-align: center;
	background-image: url("../images/footer_image.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:50px;
    line-height: 50px;
    font-weight: 100px;
    font-size: 12px;
	/*css hack for ie*/  
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/footer_image.jpg',sizingMethod='scale')";
	color: white;
}

.homepage p {
	font-size: 18px;
	font-weight: 200px;
}

.promo {

	width:250px;
	height:40px;

}


}



@media (max-width: 768px) { 

.jumbotron h1 {

    margin-top: 0px;
	margin-bottom: 20px;
	font-size: 20px;
}

.jumbotron p {

 	font-size: 15px;
}

.btn-lg {

	font-size: 15px;
}
.homepage h2 {

    font-size: 18px;
}
.homepage h3 {

    font-size: 16px;
}

.foot_image {
	text-align: center;
	background-image: url("../images/footer_image.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:50px;
    line-height: 50px;
    font-weight: 80px;
    font-size: 10px;
	/*css hack for ie*/  
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mumbai2.jpg',sizingMethod='scale')";
	color: white;
}

.homepage p {
	font-size: 16px;
	font-weight: 100px;
}

.fa-4x {
    font-size: 3em;
}

.promo {

	width:150px;
	height:25px;

}


}
