#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
form {
max-width:400px;
min-width:150px;
padding:5px 10px;
border:2px solid gray;
border-radius:15px;
font-family:raleway;
background-color:#fff
}

input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}

#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}

#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}

#pophead {
font-weight: bold;
font-size: 16px;
color: black;
background-color:#FFFFFF;
text-align:center;
border-radius:10px 10px 0 0
}
#poprow {
width:auto;
border-top:1px solid #000
}



/* START OF MEDIA */
 @media (max-width: 1199px) { 
 	form {
 	width:300px;
 	height:340px;
 	margin-left:50px;

 	}

    input[type=text] {
    width: 90%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-left: 10%;
    font-size: 12px;
    font-family: raleway;
    }

    textarea {
    background-size: 20px 15px;
	width:90%;
	height:95px;
	padding:10px;
	margin-top:10px;
	padding-left:12%;
	font-size:14px;
	margin-bottom:15px
	}

	#submit {
	width:40%;
	margin-left:30%;
	font-size: 15px;
	}

	img#close {
	right:-10px;
	top:-10px;
	height:25px;
	width:auto;
	}

	#name {
	background-size:15px 15px
	}

	#email {
	background-size:15px 15px
	}


 }

 @media (max-width: 768px) { 

 	form {
 	width:200px;
 	height:285px;
 	margin-left:100px;
 	}

    input[type=text] {
    width: 90%;
    padding: 3px;
    margin-top: 7px;
    border: 1px solid #ccc;
    padding-left: 10%;
    font-size: 10px;
    font-family: raleway;
    }

    textarea {
    background-size: 15px 10px;
	width:90%;
	height:70px;
	padding:5px;
	margin-top:10px;
	padding-left:12%;
	font-size:14px;
	margin-bottom:5px
	}

	#submit {
	width:40%;
	margin-left:30%;
	margin-bottom:10px;
	font-size: 12px;
	}

	img#close {
	right:-6px;
	top:45px;
	height:20px;
	width:auto;
	}

	#name {
	background-size:12px 12px
	}

	#email {
	background-size:12px 12px
	}


	div#popupContact {
	padding-top:50px;
	}

 }



