body {
	text-align: center;
	background-image: url("../images/mumbai2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	/*css hack for ie*/  
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg',sizingMethod='scale')";
	color: black;

   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   background-color: rgba(0, 0, 0, 0.6);

}

.buttonjs1{

	padding-top:5px;
	font-size:10px;
	width:120px;
	height:40px;
}

.mbtn{
	font-weight:bold;
	background-color:green;

}

.mbtn:hover{

	background-color:#e60000;
}

.outer {

	margin-top: 15px;
}

.resume {	

	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	height: 510px;
	width:600px;
	margin: 0 auto;
	text-align: left;
	color:white;

}

.social-icons {
	height: 46px;
	width:135px;
}

.profile_pic {
	height: 120px;
	width:120px;
	border-radius: 50%;
	display: block;
	margin: auto;
}

h1,h2,h3 {
	margin: 5px;
	text-align: left;
  }


/* START OF MEDIA */
 @media (max-width: 1199px) { 
 .profile_pic {
	height: 90px;
	width:90px;
	border-radius: 50%;
	display: block;
	margin: auto;
  }

  .social-icons {
	height: 36px;
	width:100px;
	font-size: 0.75em;
}
h1,h2,h3 {
	margin: 2px;

  }

 .resume {	

	background-color: rgba(0, 0, 0, 0.8);
	padding: 5px;
	height: 340px;
	width:400px;
	margin: 0 auto;
	text-align: left;

}

h1 {

	font-size: 14px;
}
h3 {

	font-size: 12px;
}

p {
	font-size: 10px;
}


}
.btn-sm {

	margin-left: 180px;
	font-size: 0.8em;

}



 @media (max-width: 768px) { 
 .profile_pic {
	height: 120px;
	width:120px;
	border-radius: 50%;
	display: block;
	margin: auto;
  }

.social-icons {
	height: 26px;
	width:75px;
	font-size: 0.55em;
}

h1,h2,h3 {
	margin: 2px;

  }
.resume {	

    background-color: rgba(0, 0, 0, 0.8);
	padding: 5px;
	height: 180px;
	width:230px;
	margin: 0 auto;
	text-align: left;

}

h1 {

	font-size: 16px;
}
h3 {

	font-size: 14px;
}

.resume p {
	padding-top: 50px;
	font-size: 12px;
}

.btn-sm {

margin-left: 80px;
font-size: 1em;

}

}